<template name="FarmersMarketProfile">
    {{#each fmData}}
    <section class="page-section-top" style="min-height: 100px; background-color:#c5d7af">
        <h3 class="hotel" style="font-size: 35px;">{{name}}</h3>
        {{#if isFavorite}}
            <button type="button"  class="unfavorite  btn btn-sm btn-info">Unfavorite
            </button>
        {{else}}
            <button type="button"  class="favorite btn btn-sm btn-info">Favorite
            </button>
        {{/if}}
    </section>

    <section>
        {{> Carousel}}
    </section>

    <section style="text-align: left; background-color: #FFFFFF; background-image: none">

        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">

                <div style="padding-top: 20px; padding-left: 10px">
                {{> PostComment}}

                {{> ListComments}}
                </div>

            </div>
            <div class="v-divider col-sm-12 col-md-4 col-lg-4">
                Information
                <div style="padding-top: 20px; padding-right: 10px">
                <div class="map-container">
                    {{> googleMap name="exampleMap" options=exampleMapOptions}}
                </div>

                    <div style="font-size: 20px; font-family: 'Roboto Condensed', sans-serif">
                Address: {{streetAddress}}, {{city}}<br>
                {{zipcode}}<br>

                Description: {{description}}
                {{locationInfo}}
                <br>
                Contact: {{website}}
                {{contact}}
                {{phone}}
                {{email}}
                    </div>

                </div>
            </div>
        </div>

    </section>
    {{/each}}
</template>