<template name="co_homebody">
    <body>
    <a name = "start"></a>
        <section class="page-section">
            <h1>Welcome to Hawaii Fresh</h1>
            <hr>
            <p>Our ʻāina provides us with abundant resources! Loving hands grow, harvest, and mold materials to create only the best products for our ‘ohana. In farmers markets, individuals come together to deliver a cornucopia of things. You’ll find home-grown organic produce, plants, pastries, and more. So where are these farmers markets? </p>
            <p>HiFresh lets you know when and where there’s a farmers market happening in your neighborhood and around the island!</p>
        </section>
        <section class="page-section">
            <h1>Upcoming Events!</h1>
            <hr>
        </section>
        <section class="page-section">
            <h1>Tip of the Day!</h1>
            <hr>
            <p></p>
        </section>

        <section class="page-section">
            <p>“The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of human beings.”</p>
            <p>- Masanobu Fukuoka, The One-Straw Revolution</p>
        </section>
    </body>
</template>