<template name="co_homebody">
    <body>
        <section class="page-section">
            <h1>What is Hawai'i Fresh?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum porttitor semper. Maecenas at nibh sapien. Suspendisse tempor mauris quis accumsan lobortis. Pellentesque feugiat, massa sit amet lacinia fringilla, mi mauris imperdiet lectus, non elementum nibh sapien ac massa. Cras tempor est ipsum, eu luctus mauris feugiat quis. Morbi eget bibendum lectus. Morbi ornare in quam convallis finibus. In ornare bibendum lacus, ornare fringilla augue eleifend eget. Quisque iaculis elit diam, feugiat elementum augue malesuada vitae.</p>
        </section>
        <section class="page-section">
            <h1>Upcoming Events!</h1>

        </section>
        <section class="page-section">
            <h1>Tip of the Day!</h1>
            <p></p>
        </section>
    </body>
</template>