<template name="co_header">
    <header>
        <div class="header-glass">
        </div>

        <div id="home-header" class="center-outer">
            <div id="home-header-contents" class="center-inner">
                <h1>Say <img src="/images/kelpup2.png" alt="HI"> to Hawai'i Fresh.</h1>
                <div id="find-button" class="center-outer">
                    <div class="center-inner">
                        <span>Find a Market Near You</span>
                    </div>
                </div>
            </div>
            <div class="jump-down">
                V
            </div>
        </div>
    </header>
</template>