<template name="co_header">
    <header>
        <div class="header-glass">
        </div>

        <div id="home-header" class="center-outer">
            <div id="home-header-contents" class="center-inner">
                <h1>Say <img src="/images/kelpup2.png" alt="HI"> to Hawai'i Fresh.</h1>
                <div id="find-button" class="center-outer">
                    <a href="{{ pathFor 'FarmersMarket' }}"><div class="center-inner">
                        <span>Find a Market Near You</span>
                    </div></a>
                </div>
            </div>
            <div class="jump-down">
                <a id="link" href="#"><i class="fa fa-angle-down fa-4x" aria-hidden="true"></i></a>
            </div>
        </div>
    </header>

    <script>
        function scrollToAnchor(aid){
            var aTag = $("a[name='"+ aid +"']");
            $('html,body').animate({scrollTop: aTag.offset().top},'slow');
        }

        $("#link").click(function() {
            scrollToAnchor('start');
        });
    </script>
</template>