<template name="UserHome">
    {{#IfLoggedIn}}
        <div class="row move-down border-user" style="padding-top: 74px">
            <div style="padding-top:30px" class="col-md-2 col-md-offset-2">
                {{#if hasUserPic}}
                    <img src="{{currentUser.profile.profileImage}}" class="img-rounded center-block" height="100" width="100"><br>
                {{else}}
                    <img src="/images/square.png" class="img-rounded center-block" height="100" width="100"><br>
                {{/if}}
            </div>
            <div class="col-md-6 user-data">
                <h4>{{ currentUser.username }}</h4><br>
                <h5>{{ currentUser.profile.firstName }} {{ currentUser.profile.lastName }}</h5><br>
                <h5 style="margin-top:0;">{{ currentUser.profile.email}}</h5>
                <button type="button" href="{{pathFor 'EditProfile'}}" class="editProfile btn btn-sm btn-info user-edit">Edit Profile</button>
            </div>
        </div>

        <div class="user-info">
            <div class="col-xs-3"> <!-- required for floating -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tabs-left">
                    <li class="active"><a href="#about" data-toggle="tab">About</a></li>
                    <li><a href="#comments" data-toggle="tab">Comments</a></li>
                    <li><a href="#favorites" data-toggle="tab">Favorites</a></li>
                </ul>
            </div>

            <div class="col-xs-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="about">Stuff that they enter in an about me section</div>
                    <div class="tab-pane" id="comments">shows their comments
                        {{#each listComments}}
                            {{comment}}
                            <button type="button" href="{{pathFor 'FarmersMarketSearch'}}/{{commentId}}" class="btn viewMarket btn-info btn-sm">View Page</button>
                        {{/each}}

                    </div>
                    <div class="tab-pane" id="favorites">their favs
                        {{#each listFavorites}}
                        {{name}}
                        {{description}}
                            <button type="button" href="{{pathFor 'FarmersMarketSearch'}}/{{_id}}" class="btn goMarket btn-info btn-sm">View Page</button>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/IfLoggedIn}}

</template>