<template name="SearchBox">

    {{> EasySearch.Input attributes=attrib event=enter index=farmersmarketIndex noDocumentsOnEmpty=true }}


        <div class="list-group" style="margin:0">
        {{#EasySearch.Each index=farmersmarketIndex }}
        <a style="font-size: 20px" href="{{pathFor 'FarmersMarket'}}/{{_id}}" class="list-group-item list-group-item-action">
           {{name}}
            <p style="font-size: 12px" class="list-group-item-text">{{locationInfo}}</p>
        </a>
        {{/EasySearch.Each}}
        </div>

    <div class="autosuggest-component">
        {{> EasySearch.Autosuggest index=farmersmarketIndex}}
    </div>

    {{> EasySearch.LoadMore index=farmersmarketIndex}}

    {{#EasySearch.IfNoResults index=farmersmarketIndex}}
        <div class="no-results">No results found!</div>
    {{/EasySearch.IfNoResults}}

</template>